.catalog-item__image-box {
	display: flex;
	width: 100%;
	height: 195px;
}

.catalog-item__image {
	width: 100%;
	height: auto;

	object-fit: cover;
}

.catalog-item__info {
	padding: 26px 27px 28px;

	border: 1px solid #ededed;

}

.catalog-item__title {
	margin-bottom: 5px;
}

.catalog-item__link {
	color: inherit;

	text-decoration: none;
}

.catalog-item__desc {
	margin: 0;
	margin-bottom: 19px;

	font-size: 13px;
	line-height: 30px;
}

.catalog-item__order-box {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0;
	padding-top: 21px; 

	border-top: 1px solid #ededed;
}

.catalog-item__price {
	font-weight: bold;
	color: #000000;
}

.catalog-item__button {
	width: 21px;
	height: 18px;

	svg {
		width: 100%;
		height: auto;

		fill: #cccccc;

		transition: 0.3s;
	}
}


@media (min-width: $width-t) {

	.catalog-item {
		transition: 0.3s;

		&:hover {
			box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
		}

		&:active {
			box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
		}
	}

	.catalog-item__title {
		padding-right: 30px;

		transition: 0.3s;

		&:hover {
			color: rgba(0, 0, 0, 0.6);
		}

		&:active {
			color: rgba(0, 0, 0, 0.3);
		}
	}

	.catalog-item__image-box {
		flex-shrink: 0;
		width: 334px;
		height: 334px;
	}

	.catalog-item__info {
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		padding-bottom: 22px;
	}

	.catalog-item__desc {
		font-size: 15px;
	}

	.catalog-item__order-box {
		margin-top: auto;
		padding: 19px 5px 0;
	}

	.catalog-item__button {
		display: flex;

		&:hover svg {
			fill: #63d1bb;
		}

		&:active {
			opacity: 0.3;
		}
	}
}


@media (min-width: $width-d) {

	.catalog-item__image-box {
		width: 100%;
		height: 462px;
	}

	.catalog-item__desc {
		margin-bottom: 13px;
	}

	.catalog-item__order-box {
		padding-left: 0;
	}
}