.page-header {
	position: relative;

	box-sizing: border-box;
	min-height: 80px;

	border-top: 1px solid #ececec;
	border-bottom: 1px solid #ececec; 
}

.page-header__logo {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 78px;
	margin: 0;
}

.page-header__delivery {
	display: none;
}


@media (min-width: $width-t) {

	.page-header {
		z-index: 1;

		display: flex;
		justify-content: space-between;
		min-height: 89px;
		padding: 0 $padding-t;

		border-top: none;
	}

	.page-header__delivery {
		position: absolute;
		bottom: -57px;
		right: $padding-t;

		display: block;

		font-size: 15px;
		line-height: 24px;
	}
}


@media (min-width: $width-d) {

	.page-header {
		padding: 0 $padding-d;
	}

	.page-header__logo {
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;

		margin: auto;
	}

	.page-header__main-nav {
		width: 100%;
	}

	.page-header__delivery {
		right: $padding-d;
	}
}
