.production__wrapper {
	padding: 22px 33px 32px;

	border: 1px solid #ececec;

	transition: 0.3s;

	&:hover {
		box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
	}

	&:active {
		box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
	}
}

.production__title {
	display: flex;
	align-items: center;
	margin-bottom: 25px;

	&::before {
		content: "";

		flex-shrink: 0;
		width: 32px;
		height: 22px;
		margin-right: 25px;

		background-image: url(../img/icon-camera.svg);
		background-size: 32px 22px;
	}
}

.production__video {
	position: relative;

	width: calc(100% + 67px);
	height: 150px;
	margin-left: -34px;
	margin-bottom: 28px;

	background-color: #62d1ba;
	background-image: url(../img/bg-production-m.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% auto;

	@media (min-resolution: $r-dpi), (min-resolution: $r-dppx) {
		background-image: url(../img/bg-production-m@2x.jpg);
	}

	&::after {
		content: "";

		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;

		display: block;
		width: 101px;
		height: 77px;
		margin: auto;

		background-image: url(../img/icon-play.svg);

		transition: 0.3s;

		cursor: pointer;
	}

	&:hover::after {
		width: 121px;
		height: 92px;
	}

	&:active::after {
		width: 81px;
		height: 62px;

		opacity: 0.3;
	}
}

.production__desc {
	margin: 0;
	margin-bottom: 24px;

	font-size: 13px;
}


@media (min-width: $width-t) {

	.production__wrapper {
		display: flex;
		flex-direction: column;
		padding: 0 40px 45px;

		border: 1px solid #ececec;
	}

	.production__title {
		display: flex;
		align-items: center;
		margin-bottom: 34px;

		&::before {
			margin-right: 33px;
		}
	}

	.production__video {
		position: relative;
		
		order: -1;
		width: calc(100% + 81px);
		height: 454px;
		margin-left: -41px;
		margin-bottom: 38px;

		background-image: url(../img/bg-production-t.jpg);
		border-bottom: 1px solid #ececec;

		@media (min-resolution: $r-dpi), (min-resolution: $r-dppx) {
			background-image: url(../img/bg-production-t@2x.jpg);
		}
	}

	.production__desc {
		margin-bottom: 34px;

		font-size: 15px;
	}
}


@media (min-width: $width-d) {

	.production__wrapper {
		position: relative;
		display: flex;
		flex-direction: column;
		box-sizing: border-box;
		min-height: 455px;
		padding: 46px 57px 60px 761px;
	}

	.production__title {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		margin-bottom: 34px;

		&::before {
			margin-bottom: 27px;
		}
	}

	.production__video {
		position: absolute;
		top: -1px;
		left: -1px;
		
		width: 682px;
		height: 455px;
		margin: 0;

		background-image: url(../img/bg-production-t.jpg);
		border-bottom: none;

		@media (min-resolution: $r-dpi), (min-resolution: $r-dppx) {
			background-image: url(../img/bg-production-t@2x.jpg);
		}
	}

	.production__desc {
		margin-bottom: 45px;
	}
}