.social {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	padding: 0;

	list-style: none;
}

.social__item {
	margin-right: 40px;

	&:last-child {
		margin-right: 0;
	}
}

.social__icon {
	transition: 0.3s;
}

.social__link:hover .social__icon {
	fill: #46c1ae;
}

.social__link:active .social__icon {
	opacity: 0.3;
}